

    <form class="example-form">
  
        <mat-form-field class="example-form ">
          <input [(ngModel)]= "name" name = "name" matInput placeholder="name" value="this.name">
          </mat-form-field>
        
          <mat-form-field class="example-form ">
          <input [(ngModel)]= "color" name = "color" matInput placeholder="color" value="">
        </mat-form-field>
    
        
        <mat-form-field class="example-form ">
          <input [(ngModel)]= "price" name = "price" matInput placeholder="price" value="">
        </mat-form-field>

        <mat-form-field class="example-form ">
                <input [(ngModel)]= "currency" name = "currency" matInput placeholder="currency" value="">
              </mat-form-field>
    <div align='right'>
        <button class="form" mat-stroked-button color="accent" (click)="close()">Close</button>
        <button class="form" mat-stroked-button color="primary" (click)="save(name,color,price,currency)">Save</button>
    </div>  
     </form>
